body {
    margin: 0;
    font-family: Raleway;
}

/* header CSS */

header {
    display: flex;
    height: 4.5625rem;
    justify-content: space-between;
}

.logo {
    width: 3.8125rem;
    height: auto;
    margin: 2.75rem 0 auto 3.819vw;
}

.menu {
    display: flex;
    margin: 0 3.889vw auto 0;
}

.lien {
    color: inherit;
    text-decoration: none;
    margin-left: 1.25vw;
    border-top: 0.125rem solid white;
    padding: 2.875rem 1.458vw 0 1.944vw;
}

.lien:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}
